
@brandFontColor: #555;

@topbarColor1: #FAFAFA;
@topbarColor2: #EAEAEA;
@topbarFontColor: #222;

@topbarSearchBorderColor: #AAAAAA;
@topbarSearchBorderActiveColor: #E59700;

@numCountColor: #E59700;
